$base-1: #dd8299;
$base-2: #cb6982;
$base-3: #b14d67;
$base-4: #9c3953;
$base-5: #8b243f;

$acentuacao-1: #66d16b;
$acentuacao-2: #5bc262;
$acentuacao-3: #4db055;
$acentuacao-4: #3ea348;
$acentuacao-5: #2d9b46;

$cinza-claro-1: #f5ebef;
$cinza-claro-2: #ebd5dc;
$cinza-claro-3: #e7cad4;

$cinza-escuro-1: #847073;
$cinza-escuro-2: #594649;
$cinza-escuro-3: #312628;
