@mixin dosis($color, $size) {
  color: $color;
  font-size: $size;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

@mixin divider($color, $width, $margin) {
  background: $color;
  width: $width;
  margin: $margin;

  content: "";
  display: block;
  height: 2px;
  max-width: 100%;
}
