@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Roboto:wght@300;400;700&display=swap");
@import "mixins";
@import "reset";
@import "variables";

.titulo-secao {
  @include dosis($base-5, $s72);
}

.link {
  color: $acentuacao-3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.nav-list .router-link-active:hover {
  color: $acentuacao-3;
  transition: all 0.3s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.v-enter {
  transform: translate3d(0, -20px, 0);
}

.v-leave-to {
  transform: translate3d(0, 20px, 0);
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s;
}
